openapi: 3.0.3
info:
  version: '1.0'
  title: 3040Crypto API
  description: Our 3040Crypto API will provide a seamless and convenient platform to our partners and clients to access up-to-date cryptocurrency market information.
externalDocs:
  description: Github Documentation here
  url: https://github.com/ThreshvsGaming/3040CryptoThem
servers:
  - url: https://www.3040Crypto.They.Them/api/v1/
    description: Production server
tags:
  - name: Market
    description: Everything about 3040Crypto's Crypto Market
  - name: Orders
    description: Everything about Orders

paths:
  /market/transactions/:
    get:
      tags:
        - Market
        
      summary: Views the transaction history
      description: Views the transaction history 3040Crypto's Market
      operationId: transaction
      parameters:
        - name: coinSymbol
          in: query
          description: The symbol of the coin that the user is searching.
          required: true
          example: 'BTC'
          schema:
            type: string
        - name: type
          in: query
          description: The type of transaction that the user is searching.
          required: true
          schema:
            type: string
            default: 'ALL'
            enum:
              - 'ALL'
              - 'BUY'
              - 'SELL'
        - name: size
          in: query
          description: The amount of transactions that the user wants to access.
          schema:
            type: integer
            format: int64
            default: ALL
      responses:
        '200':
          description: Sucess
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketData'
        '400':
          description: '0 transactions queried'
  /orders/submit:
    put:
      tags:
        - Orders
      summary: Submits an order in to 3040Crypto's Market
      description: Submits an order 
      operationId: submit
      parameters:
        - name: coinSymbol
          in: query
          description: The symbol of the coin that the order is submitting.
          required: true
          example: 'BTC'
          schema:
            type: string
        - name: type
          in: query
          description: The type of transaction that the order is submitting.
          required: true
          schema:
            type: string
            default: 'BUY'
            enum:
              - 'BUY'
              - 'SELL'
        - name: amount
          in: query
          description: The amount of crypto that the order is submitting.
          schema:
            type: number
            format: float
            default: 0
        - name: price
          in: query
          description: The price per amount that the order is submitting.
          schema:
            type: number
            format: float
            default: 0
      responses:
        '404':
          description: Invalid order id value
        '200':
          description: Sucessful operation
  /orders/cancel:
    delete:
      tags:
        - Orders
      summary: Cancels an order in the Market
      description: Cancel a specific order using the order's id
      operationId: cancel
      parameters:
        - name: orderId
          in: query
          description: id of the order.
          required: true
          schema:
            type: integer
            format: int64
          example: '362321'
      responses:
        '404':
          description: Invalid order id value
        '200':
          description: Sucessful operation
          
components:
  schemas:
    MarketData:
      type: object
      properties:
        results:
          type: object
          properties:
            date:
              type: string
              description: The date the order was created
              example: '2024-11-13 00:38:32'
            type:
              type: string
              description: Needs a description
              example: 'BUY'
            orderId:
              type: integer
              format: int64
              description: A unique ID for the order
              example: 362321
            coinSymbol:
              type: string
              description: Needs a description
              example: 'BTC'
            amount:
              type: number
              format: float
              description: Needs a description
              example: -0.00400000
            status:
              type: string
              description: Needs a description
              example: success
            price:
              type: number
              format: float
              description: Needs a description
              example: 32462

